<div>
    <app-widget-area [data]="bigChart"></app-widget-area>
</div>
<br>
<mat-divider></mat-divider>
<br>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards"> 
    <mat-card fxFlex="25">
      <app-widget-card label="New Users" percentage="50" total="12k" [data]="cards"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="Users Retention" percentage="40" total="10k" [data]="cards"></app-widget-card>

    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="Users Engagement" percentage="30" total="8k" [data]="cards"></app-widget-card>

    </mat-card>
    <mat-card fxFlex="25"> 
        <app-widget-card label="Referral" percentage="20" total="6k" [data]="cards"></app-widget-card>

    </mat-card>
   
</div>
<br>
<mat-divider></mat-divider>
<br>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <div fxFlex="60">
<app-widget-table></app-widget-table>
      
          
    </div>
    <div fxFlex="40">
        <app-widget-pie [data]="piechart"></app-widget-pie>
    </div>
</div>